/*Estilos dispensario*/
.DispensarioIconNewPaciente {
    background: url("/DesktopModules/Pacientes/newpaciente.png"), linear-gradient(to right,#607d8b 0%, #607d8b 50%,#78909c 51%, #78909c 101%);
}

.DispensarioIconBorrarPaciente {
    background: url("/DesktopModules/Pacientes/deletepaciente.png"), linear-gradient(to right,#607d8b 0%, #607d8b 50%,#78909c 51%, #78909c 101%);
}

.DispensarioIconGuardarPaciente {
    background: url("/DesktopModules/Pacientes/savepaciente.png"), linear-gradient(to right,#607d8b 0%, #607d8b 50%,#78909c 51%, #78909c 101%);
}

.DispensarioIconBuscarPaciente {
    background: url("/DesktopModules/Pacientes/searchpaciente.png"), linear-gradient(to right,#607d8b 0%, #607d8b 50%,#78909c 51%, #78909c 101%);
}

.DispensarioIconCancelarPaciente {
    background: url("/DesktopModules/Pacientes/cancelpaciente.png"), linear-gradient(to right,#607d8b 0%, #607d8b 50%,#78909c 51%, #78909c 101%);
}
.DispensarioIconUploadPaciente {
    background: url("/DesktopModules/Pacientes/uploadpaciente.png"), linear-gradient(to right,#607d8b 0%, #607d8b 50%,#78909c 51%, #78909c 101%);
}

.FileUploadButton {
    display:none !important;
    
}
.FileUploadFakeButton {
    background: url("/DesktopModules/Pacientes/uploadpaciente.png"), linear-gradient(to right,#607d8b 0%, #607d8b 50%,#78909c 51%, #78909c 101%);
    background-repeat: no-repeat, no-repeat;
    background-size: 32px 32px, 201% 100%;
    background-position-x: 100%, 100%;
    background-position-y: 0%, center;
    padding: 5px 5px 5px 5px;
    color: #efefef;
    margin-right: -3px;
    cursor: pointer;
    transition: all ease-in 0.3s;
    font-weight: bolder;
    border: none;
    padding-left: 32px;
    padding-right: 32px;
    word-wrap: normal;
    white-space: normal;
    height: 50px;
    vertical-align:middle;
    
}

.DispensarioThumb {
    width:100px;
    height:100px;
    display:inline-block;
    clear:left;
    transition: 
        width ease-in 0.3s, 
        height ease-in 0.3s, 
        margin-right ease-in 0.3s,
        margin-bottom ease-in 0.3s,
        z-index ease 0s; 
    
    cursor:pointer;
    background-size:contain;
     position:relative;
     margin-right:0px;
     margin-bottom:0px;
     z-index:1000;
}


.InfoThumb {
    width: 100%;
    height: 20px;
    background-color: rgba(80,80,80,0.5);
    color: white;
    font-weight: bolder;
}



.DispensarioThumb:hover {
    z-index:1001;
    width:110px;
    height:110px;
     margin-right:-10px;
     margin-bottom:-10px;
     
}
   
.FileUploadFakeButton:hover {
        background-position-x: 0%,0%;
        color: #efefef;
    }

.DispensarioButton {
    background-repeat: no-repeat, no-repeat;
    background-size: 32px 32px, 201% 100%;
    background-position-x: 100%, 100%;
    background-position-y: 0%, center;
    padding: 5px 5px 5px 5px;
    color: #efefef;
    margin-right: -3px;
    cursor: pointer;
    transition: all ease-in 0.3s;
    font-weight: bolder;
    border: none;
    padding-left: 32px;
    padding-right: 32px;
    word-wrap: normal;
    white-space: normal;
    max-width: 132px;
    height: 50px;
}

.DispensarioTableHeader {
    border-bottom: 2px solid #7fb96b;
    text-align:center;
}

.DispensarioTableContentRow {
    border-bottom: 1px solid #808080;
    min-height:30px;
    height:30px;
    cursor:pointer;
    
}

    .DispensarioTableContentRow:nth-child(even) {
        background:linear-gradient(to right,#d1c4e9 0%, #d1c4e9 50%,#ede7f6 51%, #ede7f6 101%);
        background-position-x: 100%;
        background-repeat:no-repeat;
        background-size: 200% 100%;
        transition: all ease-in 0.3s;
        

    }

    .DispensarioTableContentRow:nth-child(odd) {
        background:linear-gradient(to right,#e1bee7 0%, #e1bee7 50%,#f3e5f5 51%, #f3e5f5 101%);
        background-position-x: 100%;
        background-repeat:no-repeat;
        background-size: 200% 100%;
        transition: all ease-in 0.3s;
        

    }

    .DispensarioTableContentRow:hover {
        background-position-x: 0%;
    }


.DispensarioTable tbody tr th{
    font-weight:bolder;
    color:#808080;
    min-width:150px;
    max-width:150px;
    padding-left:5px;
    padding-right:5px;

}

.DispensarioTable tbody tr td{
    font-weight:bolder;
    min-width:150px;
    max-width:150px;
    text-align:left;

}

.DispensarioScrollBox {
    overflow-y:scroll;
    height:200px;
}


    .DispensarioButton:hover {
        background-position-x: 0%,0%;
        color: #efefef;
    }

@keyframes buttonanimation {
    from {
        background-color: white;
    }

    to {
        background-color: #00bcd4;
    }
}

.DispensarioButton:active {
    background: none;
    animation: buttonanimation;
    animation-duration: 0.2s;
}

.DispensarioContainer {
    width: 100%;
    height: auto;
    background-color: #C5CAE9;
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background: linear-gradient(to right, #C5CAE9 1%, #ffffff 100%);
    border-radius: 20px;
}

.DispensarioFieldContainer {
    float: left;
    display: inline-block;
    margin-top: 10px;
    border-bottom: solid;
    border-width: thin;
    border-bottom-color: #7fb96b;
    margin-right: 15px;
}

.DispensarioLabel {
    margin-right: 10px;
}

.disp_error {
    background-color:#f44336;
    color:#efefef;
    font-weight:bolder;
}
.disp_ok {
    background-color:#4caf50;
    color:#efefef;
    font-weight:bolder;
}

.DispensarioTextBox {
    border: none;
    color: black;
    font-weight: bold;
    background-color: transparent;
    border-bottom-style:solid;
    border-bottom-color:gray;
    border-bottom-width:1px;
}

.DispensarioTinyTXT {
    max-width: 30px;
}

.fotoTurnero {
	height: 100px;
	width: 100px;
	display: inline-block;
	background-size: cover;
	border-radius: 50px;
}

.TurnoContainerMedico {
    float: left;
    padding: 10px 10px 10px 10px;
    background-color: #2b6f92;
    color: white;
    margin: 5px 5px 5px 5px;
    height: 280px;
    border-radius: 10px;
    width: 120px;
    max-width: 120px;
    font-size: 10px;
    border: solid;
    border-color: #676767;
    border-width: 2px;
    cursor: pointer;
}
.TurnoContainerMedico:hover {
    border-color:#efefef;

}

.TurnoContainerEnfermero {
    float: left;
    padding: 10px 10px 10px 10px;
    background-color: #8a57ad;
    color: white;
    margin: 5px 5px 5px 5px;
    height: 280px;
    border-radius: 10px;
    width: 120px;
    max-width: 120px;
    font-size: 10px;
    border: solid;
    border-color: #676767;
    border-width: 2px;
    cursor: pointer;
}

    .TurnoContainerEnfermero:hover {
        border-color: #efefef;
    }

.BotonAsignaTurno {
    color:black;
    width:100px;
}